@model NoteMarketPlaceHtml.Models.CatagoryViewModel

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container form-wrap x-t-100">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-heading">
            <h3>Add Catagory</h3>
        </div>

        <div class="row">
            <div class="col-md-8">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">

                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.ValidationMessage("Error", null, new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary x-b-60 x-t-30" id="submit-btn-user" , formaction="@(ViewBag.Edit == true ? "Category?id="+ Model.Id : "Category" )">SUBMIT</button>


                    </div>
                </div>
            </div>
        </div>
    }

</div>