@model NoteMarketPlaceHtml.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
  

}
<section class="main">
    <div class="container-login">
        <div class="login">
            <span class="top-img">

                <img src="~/Content/img/login/top-logo.png" alt="Logo" />
            </span>

            @using (Html.BeginForm("ChangePassword", "Account", new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

        <div class="login-form">

            <div class="heading">
                <h4 class="text-center">Login</h4>
                <p class="text-center">Enter your email address and passwod to login</p>

            </div>


            <div class="form-group">

                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label " })
                    </div>
                </div>

                <div class="eye">
                    @Html.PasswordFor(model => model.OldPassword, htmlAttributes: new { @class = "form-control", @placeholder = "Enter your password" })
                    <span toggle="#OldPassword" class="fa fa-fw fa-eye field-icon toggle-password">
                    </span>

                </div>
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })

            </div>



            <div class="form-group">

                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label " })
                    </div>
                </div>

                <div class="eye">
                    @Html.PasswordFor(model => model.NewPassword, htmlAttributes: new { @class = "form-control", @placeholder = "Enter your password" })
                    <span toggle="#NewPassword" class="fa fa-fw fa-eye field-icon toggle-password">
                    </span>

                </div>
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                @Html.ValidationMessage("Error", null, new { @class = "text-danger" })

            </div>

            <div class="form-group">

                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label " })
                    </div>
                </div>

                <div class="eye">
                    @Html.PasswordFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-control", @placeholder = "Enter your password" })
                    <span toggle="#ConfirmPassword" class="fa fa-fw fa-eye field-icon toggle-password">
                    </span>

                </div>
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

            </div>





            <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit-btn" value="ChangePassword">SUBMIT</button>



            <br />


        </div>

            }
        </div>
    </div>
</section>