@model NoteMarketPlace.Models.ForgotPasswordModel

@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Login Page</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/images/logo/favicon.ico">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
</head>

<body>

    <!-- login form -->
    <div class="main-wrap">
        <div class="container-login" style="background-image: url('../Content/images/background/banner-with-overlay.jpg');">

            <div class="wrap-login">

                <span class="login-form-title">
                    <a href="../home/index">
                        <img src="~/Content/images/logo/logo-white.png" alt="Logo">
                    </a>
                </span>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                {
    @Html.AntiForgeryToken()

            <div class="login-form">

                <div class="heading">
                    <h4 class="text-center">Login</h4>
                    <p class="text-center">Enter your email to reset you Password</p>
                    <p><small id="signup-successfully" class="form-text text-muted text-center">@ViewBag.Success</small></p>

                </div>
                <div class="form-group x-b-30">
                    <label for="login-email">Email</label>
                    @Html.TextBoxFor(model => model.EmailID, htmlAttributes: new { @class = "form-control", @placeholder = "Enter your email address" })
                    @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                    @Html.ValidationMessage("Error", null, new { @class = "text-danger" })

                </div>




                <button type="submit" class="btn btn-primary btn-lg btn-block x-b-20" id="login-btn" value="ForgotPassword">SUBMIT</button>


                <p class="text-center text-danger">@ViewBag.Email</p>

            </div>}


            </div>
        </div>
    </div>
    <!-- login form end -->
    <!-- JQuery -->
    <script src="~/Scripts/js/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/js/bootstrap/bootstrap.js"></script>

    <!-- Custom Js-->
    <script src="~/Scripts/js/script.js"></script>

</body>

</html>