@model NoteMarketPlace.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Login Page</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/images/logo/favicon.ico">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
</head>

<body>

    <!-- login form -->
    <div class="main-wrap">
        <div class="container-login" style="background-image: url('../Content/images/background/banner-with-overlay.jpg');">

            <div class="wrap-login">

                <span class="login-form-title">
                    <a href="../home/index">
                        <img src="~/Content/images/logo/logo-white.png" alt="Logo">
                    </a>
                </span>

                @using (Html.BeginForm("Login", "Account", new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

            <div class="login-form">

                <div class="heading">
                    <h4 class="text-center">Login</h4>
                    <p class="text-center">Enter your email address and passwod to login</p>

                </div>

                <div class="form-group m-b-30">
                    <label for="login-email">Email</label>
                    @Html.TextBoxFor(model => model.EmailID, htmlAttributes: new { @class = "form-control", @placeholder = "Enter your email address" })
                    @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">

                    <div class="row">
                        <div class="col-md-6" style="width: 30%;">
                            <label for="login-password" style="display: inline-block;">Password</label>
                        </div>
                        <div class="col-md-6" style="width: 70%;">
                            <label for="login-password" style="margin-top: 0; text-align: right;"><a href="ForgotPassword"><span>Forgot Password?</span></a></label>
                        </div>
                    </div>

                    <div class="inputContainer">
                        @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control", @placeholder = "Enter your password" })
                        <span toggle="#Password" class="fa fa-fw fa-eye field-icon toggle-password">
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    @Html.ValidationMessage("Error", null, new { @class = "error-password" })

                </div>

                <div class="form-group login-checkbox">
                    @Html.CheckBoxFor(model => model.RememberMe)
                    <label for="login-check">Remember Me</label>
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block m-b-20" id="login-btn" value="Login">LOGIN</button>

                <p class="text-center" id="not-account">Don't have an account? <a href="Signup"><span>Sign Up</span></a></p>
                <p class="text-center text-danger">@ViewBag.Email</p>

            </div>
                }


            </div>
        </div>
    </div>
    <!-- login form end -->
    <!-- JQuery -->
    <script src="~/Scripts/js/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/js/bootstrap/bootstrap.js"></script>

    <!-- Custom Js-->
    <script src="~/Scripts/js/script.js"></script>

</body>

</html>