@model NoteMarketPlaceHtml.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<section class="main">
    <div class="container-login">
        <div class="login">
            <span class="top-img">

                <img src="~/Content/img/login/top-logo.png" alt="Logo" />
            </span>

            @using (Html.BeginForm("Login", "Account", new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="login-form">

                    <div class="heading">
                        <h4 class="text-center">Login</h4>
                        <p class="text-center">Enter your email address and passwod to login</p>

                    </div>

                    <div class="form-group x-b-30">
                        @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label " })
                        @Html.TextBoxFor(model => model.EmailID, htmlAttributes: new { @class = "form-control", @placeholder = "Enter your email address" })
                        @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">

                        <div class="row">
                            <div class="col-md-6" style="width: 30%;">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label " })
                            </div>
                            <div class="col-md-6" style="width: 70%;">
                                <label for="login-password" style="margin-top: 0; text-align: right;"><a href="ForgotPassword"><span>Forgot Password?</span></a></label>
                            </div>
                        </div>

                        <div class="eye">
                            @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control", @placeholder = "Enter your password" })
                            <span toggle="#Password" class="fa fa-fw fa-eye field-icon toggle-password">
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        @Html.ValidationMessage("Error", null, new { @class = "error-password" })

                    </div>

                    <div class="form-group login-checkbox">
                        @Html.CheckBoxFor(model => model.RememberMe)
                        <label for="login-check">Remember Me</label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg btn-block x-b-20" id="login-btn" value="Login">LOGIN</button>

                    <p class="text-center" id="signUp">Don't have an account? <a href="RegisterUser"><span>Sign Up</span></a></p>
                    <br />
                    <p class="text-center text-danger">@ViewBag.Email</p>

                </div>

            }
        </div>
    </div>
</section>