@model IEnumerable<NoteMarketPlaceHtml.Models.PublishNoteViewModel>

@{
    ViewBag.Title = "PublishedNotes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="dashboard_table x-t-100">
    <div class="container">
        <div class="row">
            <div class="form-heading col-md-6"><h3>Published Notes</h3></div>
        </div>
        <div class="row">
            <div class="small_text col-md-12">seller</div>
            <div class="seller_drop col-md-4 col-sm-6 col-12" style="padding-top: 20px; padding-left: 0;">
                @Html.DropDownList("SellerId", new SelectList(ViewBag.SellerList, "SellerId", "Name"), "Select Seller", new { @onchange = "Seller(this)" })
            </div>
            <div class="col-md-8 col-sm-6 col-12">
                <div class="search-note">

                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="search">
                                <img src="~/Content/img/Search/search.jpg" />
                                <input type="search" class="form-control" placeholder="Search" id="searchbox">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-4 search_button">
                            <button type="button" class="btn btn-primary searc_btn">Search</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row ">
            <table class="table table-hover table-responsive"  id="inProgresstbl">
                <thead>
                    <tr class="text-uppercase">
                        <th scope="col" style="width: 5%;">sr no.</th>
                        <th scope="col" style="width: 20%;">note title</th>
                        <th scope="col" style="width: 5%;">category</th>
                        <th scope="col" style="width: 5%;">sell type</th>
                        <th scope="col" style="width: 5%;">price</th>
                        <th scope="col" style="width: 10%;">seller</th>
                        <th scope="col" style="width: 5%;"></th>
                        <th scope="col" style="width: 15%;">Published date</th>
                        <th scope="col" style="width: 15%;">approved by</th>
                        <th scope="col" style="width: 5%;">number of downloads</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @{ if (Model.Count() == 0)
                                    {
                        <tr>
                            <td colspan="10" style="text-align:center;">No Record Available</td>
                        </tr> }
                                    else
                                    {
                                        int count = 0;
                                        foreach (var data in Model)
                                        {
                                            count++;
                        <tr>
                            <td scope="row">@count</td>
                            <td onclick="NoteDetail('@data.NoteId')" class="purple_text">@data.Title</td>
                            <td>@data.Category</td>
                            <td>@(data.Price == 0 ? "Free" : "Paid" )</td>
                            <td>$@data.Price</td>
                            <td class="purple_text">
                                @data.Seller
                                
                            </td>
                            <td>
                                <img src="~/Content/img/Search/eye.png" alt="view" onclick="Member('@data.SellerId')">
                            </td>
                            <td>@data.PublishDate.ToString("dd-MM-yyyy, HH:mm")</td>
                            <td>@data.ActionBy</td>
                            <td style="cursor:pointer;" onclick="Downloads('@data.NoteId')">@data.TotalDownloads</td>
                            <td>
                                <div class="table-actions-view">
                                    <div class="dropdown">
                                        <img id="more-dropeddown" src="~/Content/img/Search/dots.png"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="dropdown-menu more-dropdown-menu" aria-labelledby="more-dropeddown">
                                            <a class="dropdown-item" target="_blank" href="@Url.Content(data.NotePath)">Download Notes</a>
                                            <a class="dropdown-item" onclick="NoteDetail('@data.NoteId')">View More Details</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#rejectModal" onclick="Unpublish('@data.NoteId', '@data.Title')">Unpublish</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr> }

                                    } }
                </tbody>
            </table>
        </div>
    </div>
</section>
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="~/img/icons/close.png" alt="close" class="close" data-dismiss="modal">
                </div>
                <div class="modal-body">

                    <div class="reject-popup">

                        <h4></h4>

                        @using (Html.BeginForm(FormMethod.Post))
                        {
            @Html.Hidden("noteid")

                            <label>Remarks*</label> @*<textarea placeholder="Write remarks"></textarea>*@
                                            @Html.TextArea("Remarks", new { @placeholder = "Write remarks", required = "required" })

                                                            <button class="btn btn-cancel pull-right" data-dismiss="modal">Cancel</button>
                                                                            <button class="btn btn-reject pull-right" formaction="UnPublishNote">Unpublish</button>}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function Seller(sel) {
        alert(sel.value);

        location.href = "PublishedNotes?SellerId=" + sel.value;



    }
    function NoteDetail(id) {
        location.href = "../Notes/NoteDetails/" + id + "?ReadOnly=true";
    }
    function Member(id) {
        location.href = "../Admin/MemberDetails?sellerId=" + id;
    }


    function Unpublish(id, title) {
        $("#rejectModal input[type='hidden']").attr('value', id);
        $('.reject-popup>h4').text(title);
    }
</script>